* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Nova Square', sans-serif;
  height: 100vh;
}
/*!BODY QUIZ */
.body--quiz{
  font-size: 20px;
  margin-bottom: 0.8px;
  width: 100%;
  border-radius: 20px;
}
/*! PROGRESSO E NUMERO DA QUESTÃO */
.questaoNumero{
  margin-top: 20px;
  font-size: 22px;
}
.progress{
  height: 50%;
  font-size: 15px;
}
/*? PONTUAÇÃO  */
.pontuacao{
  text-align: right;
  font-size: 22px;
}
.pontuacaoNumero{
  font-size: 70px;
  margin-right: 35px;
}
/*?PERGUNTA QUIZ  */
.perguntaQuiz{
  margin-top: 20px;
  margin-bottom: 25px;
  padding-left: 20px;
}
/*! RESPOSTAS QUIZ */
.alternativa{
  margin: 0.2px ;
  background-color: rgba(35, 39, 42, 0.2);
  font-size: 2px;
  padding: 1px 2px;
  border-radius: 50px;
  margin-bottom: 25px;
}
.alternativa:hover{
  cursor: pointer;
  background-color: rgba(88,101,242, 0.9);
  transform: scale(1.02);
}
.letrasQuiz{
  text-align: center;
  padding: 25px 20px 20px 20px;
  font-size: 30px;
}
.respostasQuiz{
  display: flex;
  justify-content:center;
  align-items:center;
  text-align: center;
  padding-top: 15px;
  padding-right: 10px;
  font-size: 22px;
  width: 100%;
}